/* Estilos para la tarjeta */
.tarjeta {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.container-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.price-action {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tarjeta-imagen {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 10px;
}

.tarjeta-contenido {
    flex: 1;
}

.tarjeta-titulo {
    margin: 0;
}

.tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
}

.tarjeta-precio {
    margin: 0;
    font-weight: bold;
}

.boton-agregar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.boton-agregar:hover {
    background-color: #45a049;
}

.boton-quitar {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.boton-quitar:hover {
    background-color: #a04545;
}

/* Estilos para el carrito */
.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.input-form {
    outline: 0;
    width: 100%;
    border-radius: 10px;
    border: 0.1px solid #9c9c9c;
    padding: 5px;
}

@media (max-width: 1000px) {
    .container-cart {
        grid-template-columns: repeat(1, 1fr);
    }
    .price-action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

}